---
---

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=block');

@font-face {
  font-family: "Raqq";
  src: url("{{ "/assets/fonts/Raqq.woff2" | relative_url }}");
  font-weight: 400;
}

@font-feature-values "Raqq" {
  @stylistic { alt-one: 1; alt-two: 2; }
  @styleset { dotless: 1; }
}

@font-face {
  font-family: "Amiri";
  src: url("{{ "/assets/fonts/Amiri-Regular.woff2" | relative_url }}");
  font-weight: 400;
}

:root {
  --kufi-family: "Raqq", serif;
  --kufi-color: #DFDFDF;
  --main-family: "Amiri", serif;
  --heading-family: "Reem Kufi", sans-serif;
  --h1-font-size: 40px;
  --latin-font: "DM Sans", "Amiri", sans-serif;
}

:lang(en-US) {
  --main-family: var(--latin-font);
  --heading-family: var(--latin-font);
  --h1-font-size: 1.5em;
}

body * {
  font-palette: dark;
}

body {
  font-family: var(--main-family);
  font-size: 14pt;
  font-weight: 400;
  font-variant-numeric: proportional-nums;
  background-color: black;
  color: lightgray;
  max-width: 1240px;
  padding: 0 15px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  grid-template-areas:
    "header title title"
    "header section footer";
  gap: 15px;
}

.lang-switcher-top { grid-area: lang-switcher; }
header  { grid-area: header; }
#title  { grid-area: title; }
section { grid-area: section; }
footer  { grid-area: footer; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-family);
  margin-block-start: 20px;
  margin-block-end: 5px;
  color: var(--kufi-color);
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: var(--h1-font-size);
}

p {
  text-align: justify;
  line-height: normal;
  hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: #267CB9;
  text-decoration: none;
}

blockquote {
  margin: 0;
  container-type: inline-size;
}

blockquote p {
  text-align: center;
}

blockquote.kufi p,
blockquote.كوفي p {
  font-size: 8cqw;
  direction: rtl;
  font-weight: normal;
}

blockquote.big p,
blockquote.كبير p {
  margin-block-start: 0px;
  margin-block-end: .4em;
}

code {
  font-family: "Inconsolata", monospace;
}

img {
  max-width: 100%;
}

#sitedesigner {
  font-size: 60%;
  color: grey;
}

header p {
  text-align: start;
  margin-block-end: 20%;
}

#logo {
  font-family: var(--kufi-family);
  color: var(--kufi-color);
  font-size: 55pt;
  margin-block-end: 5%;
  margin-block-start: 0;
}

#title {
  font-size: 55pt;
  font-weight: normal;
  font-variation-settings: "SPAC" -90;
  font-variant-alternates: stylistic(alt-two);
  text-align-last: justify;
  font-family: var(--kufi-family);
  margin: 0;
  color: var(--kufi-color);
}

footer {
  align-self: start;
  position: sticky;
  top: 0;
}

footer p {
  text-align: center;
  margin-block-end: 20%;
}

.downloads {
  background: #f4f4f4;
  border-radius: 35px;
  border: 1px solid #e0e0e0;
}

.downloads a {
  line-height: 200%;
  font-size: 120%;
  color: #676767;
  text-align: center;
}

.lang-switcher-side {
  font-size: 120%;
}

.lang-switcher-top {
  grid-area: lang-switcher;
  text-align: center;
  display: none;
}

.lang-switcher-side,
.lang-switcher-top {
  font-family: var(--latin-font);
}

.kufi p, .كوفي p {
  font-family: var(--kufi-family);
  color: var(--kufi-color);
}

.big p, .كبير p {
  font-size: 500% !important;
}

.kufi em, .كوفي em {
  font-style: normal;
}

.aligned p, .محاذى p {
  text-align: start;
  text-align-last: start;
}

.justified p, .مساوى p {
  text-align: justify;
  text-align-last: center;
}

.salt1, .بف١  { font-variant-alternates: stylistic(alt-one); }
.salt2, .بف٢  { font-variant-alternates: stylistic(alt-two); }
.ss01, .مف١ { font-variant-alternates: styleset(dotless); }

@media print, screen and (max-width: 1280px) {
  #title {
    font-size: 5.9vw;
    font-variation-settings: "SPAC" -100;
  }
}

@media print, screen and (max-width: 1100px) {
  body {
    grid-template-columns: auto;
    max-width: 700px;
    padding: 0 20px;
    grid-template-areas:
      "lang-switcher"
      "title"
      "section"
      "footer"
      "header"
    ;
  }

  .lang-switcher-top {
    display: revert;
  }

  .lang-switcher-side {
    display: none;
  }

  header {
    border-block-start: 1px solid #e5e5e5;
    border-width: 1px 0;
  }

  header, header p {
    text-align: center;
  }

  header p, footer p {
    margin-block-end: 10%;
    margin-block-end: 10%;
  }

  header, footer {
    padding: revert;
    margin: revert;
    padding-block-start: 20px;
    border-block-start: 1px solid #e5e5e5;
    border-width: 1px 0;
  }

  footer {
    align-self: revert;
    position: revert;
    top: revert;
  }

  #title {
    text-align: center;
    text-align-last: center;
    font-size: 8vw;
  }

  blockquote p {
    margin-block-start: .2em;
    margin-block-end: .6em;
  }
}

@media print, screen and (max-width: 730px) {
  #title {
    font-size: 10vi;
  }
}

@media print, screen and (max-width: 700px) {
  section > p:lang(en-US) {
    text-align: start;
    hyphens: revert;
    -webkit-hyphens: revert;
  }
}

@media print {
  body {
    background-color: revert;
    grid-template-columns: auto;
    max-width: 100%;
    padding: 0 8%;
    grid-template-areas:
      "title"
      "section"
      "footer"
      "header"
    ;
  }

  body * {
    font-palette: light;
  }

  body,
  .kufi p, .كوفي p,
  h1, h2, h3, h4, h5, h6,
  #title,
  #logo {
    color: revert;
  }

  section {
    break-after: page;
  }

  h1, h2, h3, h4, h5, h6,
  blockquote {
    break-after: avoid-page;
  }

  blockquote.kufi {
    break-after: default;
  }

  footer {
    border: none;
  }

  .lang-switcher-top,
  .lang-switcher-side,
  #sitedesigner {
    display: none;
  }

}

.m0, .ش٠ { font-variation-settings: 'MSHQ' 0; }
.m1, .ش١ { font-variation-settings: 'MSHQ' 1; }
.m2, .ش٢ { font-variation-settings: 'MSHQ' 2; }
.m3, .ش٣ { font-variation-settings: 'MSHQ' 3; }
.m4, .ش٤ { font-variation-settings: 'MSHQ' 4; }
.m5, .ش٥ { font-variation-settings: 'MSHQ' 5; }
.m6, .ش٦ { font-variation-settings: 'MSHQ' 6; }
.m7, .ش٧ { font-variation-settings: 'MSHQ' 7; }
.m8, .ش٨ { font-variation-settings: 'MSHQ' 8; }
.m9, .ش٩ { font-variation-settings: 'MSHQ' 9; }
.m10, .ش١٠ { font-variation-settings: 'MSHQ' 10; }
.m11, .ش١١ { font-variation-settings: 'MSHQ' 11; }
.m12, .ش١٢ { font-variation-settings: 'MSHQ' 12; }
.m13, .ش١٣ { font-variation-settings: 'MSHQ' 13; }
.m14, .ش١٤ { font-variation-settings: 'MSHQ' 14; }
.m15, .ش١٥ { font-variation-settings: 'MSHQ' 15; }
.m16, .ش١٦ { font-variation-settings: 'MSHQ' 16; }
.m17, .ش١٧ { font-variation-settings: 'MSHQ' 17; }
.m18, .ش١٨ { font-variation-settings: 'MSHQ' 18; }
.m19, .ش١٩ { font-variation-settings: 'MSHQ' 19; }
.m20, .ش٢٠ { font-variation-settings: 'MSHQ' 20; }
.m21, .ش٢١ { font-variation-settings: 'MSHQ' 21; }
.m22, .ش٢٢ { font-variation-settings: 'MSHQ' 22; }
.m23, .ش٢٣ { font-variation-settings: 'MSHQ' 23; }
.m24, .ش٢٤ { font-variation-settings: 'MSHQ' 24; }
.m25, .ش٢٥ { font-variation-settings: 'MSHQ' 25; }
.m26, .ش٢٦ { font-variation-settings: 'MSHQ' 26; }
.m27, .ش٢٧ { font-variation-settings: 'MSHQ' 27; }
.m28, .ش٢٨ { font-variation-settings: 'MSHQ' 28; }
.m29, .ش٢٩ { font-variation-settings: 'MSHQ' 29; }
.m30, .ش٣٠ { font-variation-settings: 'MSHQ' 30; }
.m31, .ش٣١ { font-variation-settings: 'MSHQ' 31; }
.m32, .ش٣٢ { font-variation-settings: 'MSHQ' 32; }
.m33, .ش٣٣ { font-variation-settings: 'MSHQ' 33; }
.m34, .ش٣٤ { font-variation-settings: 'MSHQ' 34; }
.m35, .ش٣٥ { font-variation-settings: 'MSHQ' 35; }
.m36, .ش٣٦ { font-variation-settings: 'MSHQ' 36; }
.m37, .ش٣٧ { font-variation-settings: 'MSHQ' 37; }
.m38, .ش٣٨ { font-variation-settings: 'MSHQ' 38; }
.m39, .ش٣٩ { font-variation-settings: 'MSHQ' 39; }
.m40, .ش٤٠ { font-variation-settings: 'MSHQ' 40; }
.m41, .ش٤١ { font-variation-settings: 'MSHQ' 41; }
.m42, .ش٤٢ { font-variation-settings: 'MSHQ' 42; }
.m43, .ش٤٣ { font-variation-settings: 'MSHQ' 43; }
.m44, .ش٤٤ { font-variation-settings: 'MSHQ' 44; }
.m45, .ش٤٥ { font-variation-settings: 'MSHQ' 45; }
.m46, .ش٤٦ { font-variation-settings: 'MSHQ' 46; }
.m47, .ش٤٧ { font-variation-settings: 'MSHQ' 47; }
.m48, .ش٤٨ { font-variation-settings: 'MSHQ' 48; }
.m49, .ش٤٩ { font-variation-settings: 'MSHQ' 49; }
.m50, .ش٥٠ { font-variation-settings: 'MSHQ' 50; }
.m51, .ش٥١ { font-variation-settings: 'MSHQ' 51; }
.m52, .ش٥٢ { font-variation-settings: 'MSHQ' 52; }
.m53, .ش٥٣ { font-variation-settings: 'MSHQ' 53; }
.m54, .ش٥٤ { font-variation-settings: 'MSHQ' 54; }
.m55, .ش٥٥ { font-variation-settings: 'MSHQ' 55; }
.m56, .ش٥٦ { font-variation-settings: 'MSHQ' 56; }
.m57, .ش٥٧ { font-variation-settings: 'MSHQ' 57; }
.m58, .ش٥٨ { font-variation-settings: 'MSHQ' 58; }
.m59, .ش٥٩ { font-variation-settings: 'MSHQ' 59; }
.m60, .ش٦٠ { font-variation-settings: 'MSHQ' 60; }
.m61, .ش٦١ { font-variation-settings: 'MSHQ' 61; }
.m62, .ش٦٢ { font-variation-settings: 'MSHQ' 62; }
.m63, .ش٦٣ { font-variation-settings: 'MSHQ' 63; }
.m64, .ش٦٤ { font-variation-settings: 'MSHQ' 64; }
.m65, .ش٦٥ { font-variation-settings: 'MSHQ' 65; }
.m66, .ش٦٦ { font-variation-settings: 'MSHQ' 66; }
.m67, .ش٦٧ { font-variation-settings: 'MSHQ' 67; }
.m68, .ش٦٨ { font-variation-settings: 'MSHQ' 68; }
.m69, .ش٦٩ { font-variation-settings: 'MSHQ' 69; }
.m70, .ش٧٠ { font-variation-settings: 'MSHQ' 70; }
.m71, .ش٧١ { font-variation-settings: 'MSHQ' 71; }
.m72, .ش٧٢ { font-variation-settings: 'MSHQ' 72; }
.m73, .ش٧٣ { font-variation-settings: 'MSHQ' 73; }
.m74, .ش٧٤ { font-variation-settings: 'MSHQ' 74; }
.m75, .ش٧٥ { font-variation-settings: 'MSHQ' 75; }
.m76, .ش٧٦ { font-variation-settings: 'MSHQ' 76; }
.m77, .ش٧٧ { font-variation-settings: 'MSHQ' 77; }
.m78, .ش٧٨ { font-variation-settings: 'MSHQ' 78; }
.m79, .ش٧٩ { font-variation-settings: 'MSHQ' 79; }
.m80, .ش٨٠ { font-variation-settings: 'MSHQ' 80; }
.m81, .ش٨١ { font-variation-settings: 'MSHQ' 81; }
.m82, .ش٨٢ { font-variation-settings: 'MSHQ' 82; }
.m83, .ش٨٣ { font-variation-settings: 'MSHQ' 83; }
.m84, .ش٨٤ { font-variation-settings: 'MSHQ' 84; }
.m85, .ش٨٥ { font-variation-settings: 'MSHQ' 85; }
.m86, .ش٨٦ { font-variation-settings: 'MSHQ' 86; }
.m87, .ش٨٧ { font-variation-settings: 'MSHQ' 87; }
.m88, .ش٨٨ { font-variation-settings: 'MSHQ' 88; }
.m89, .ش٨٩ { font-variation-settings: 'MSHQ' 89; }
.m90, .ش٩٠ { font-variation-settings: 'MSHQ' 90; }
.m91, .ش٩١ { font-variation-settings: 'MSHQ' 91; }
.m92, .ش٩٢ { font-variation-settings: 'MSHQ' 92; }
.m93, .ش٩٣ { font-variation-settings: 'MSHQ' 93; }
.m94, .ش٩٤ { font-variation-settings: 'MSHQ' 94; }
.m95, .ش٩٥ { font-variation-settings: 'MSHQ' 95; }
.m96, .ش٩٦ { font-variation-settings: 'MSHQ' 96; }
.m97, .ش٩٧ { font-variation-settings: 'MSHQ' 97; }
.m98, .ش٩٨ { font-variation-settings: 'MSHQ' 98; }
.m99, .ش٩٩ { font-variation-settings: 'MSHQ' 99; }
.m100, .ش١٠٠ { font-variation-settings: 'MSHQ' 100; }

.s-100, .س-١٠٠ { font-variation-settings: 'SPAC' -100; }
.s-99, .س-٩٩ { font-variation-settings: 'SPAC' -99; }
.s-98, .س-٩٨ { font-variation-settings: 'SPAC' -98; }
.s-97, .س-٩٧ { font-variation-settings: 'SPAC' -97; }
.s-96, .س-٩٦ { font-variation-settings: 'SPAC' -96; }
.s-95, .س-٩٥ { font-variation-settings: 'SPAC' -95; }
.s-94, .س-٩٤ { font-variation-settings: 'SPAC' -94; }
.s-93, .س-٩٣ { font-variation-settings: 'SPAC' -93; }
.s-92, .س-٩٢ { font-variation-settings: 'SPAC' -92; }
.s-91, .س-٩١ { font-variation-settings: 'SPAC' -91; }
.s-90, .س-٩٠ { font-variation-settings: 'SPAC' -90; }
.s-89, .س-٨٩ { font-variation-settings: 'SPAC' -89; }
.s-88, .س-٨٨ { font-variation-settings: 'SPAC' -88; }
.s-87, .س-٨٧ { font-variation-settings: 'SPAC' -87; }
.s-86, .س-٨٦ { font-variation-settings: 'SPAC' -86; }
.s-85, .س-٨٥ { font-variation-settings: 'SPAC' -85; }
.s-84, .س-٨٤ { font-variation-settings: 'SPAC' -84; }
.s-83, .س-٨٣ { font-variation-settings: 'SPAC' -83; }
.s-82, .س-٨٢ { font-variation-settings: 'SPAC' -82; }
.s-81, .س-٨١ { font-variation-settings: 'SPAC' -81; }
.s-80, .س-٨٠ { font-variation-settings: 'SPAC' -80; }
.s-79, .س-٧٩ { font-variation-settings: 'SPAC' -79; }
.s-78, .س-٧٨ { font-variation-settings: 'SPAC' -78; }
.s-77, .س-٧٧ { font-variation-settings: 'SPAC' -77; }
.s-76, .س-٧٦ { font-variation-settings: 'SPAC' -76; }
.s-75, .س-٧٥ { font-variation-settings: 'SPAC' -75; }
.s-74, .س-٧٤ { font-variation-settings: 'SPAC' -74; }
.s-73, .س-٧٣ { font-variation-settings: 'SPAC' -73; }
.s-72, .س-٧٢ { font-variation-settings: 'SPAC' -72; }
.s-71, .س-٧١ { font-variation-settings: 'SPAC' -71; }
.s-70, .س-٧٠ { font-variation-settings: 'SPAC' -70; }
.s-69, .س-٦٩ { font-variation-settings: 'SPAC' -69; }
.s-68, .س-٦٨ { font-variation-settings: 'SPAC' -68; }
.s-67, .س-٦٧ { font-variation-settings: 'SPAC' -67; }
.s-66, .س-٦٦ { font-variation-settings: 'SPAC' -66; }
.s-65, .س-٦٥ { font-variation-settings: 'SPAC' -65; }
.s-64, .س-٦٤ { font-variation-settings: 'SPAC' -64; }
.s-63, .س-٦٣ { font-variation-settings: 'SPAC' -63; }
.s-62, .س-٦٢ { font-variation-settings: 'SPAC' -62; }
.s-61, .س-٦١ { font-variation-settings: 'SPAC' -61; }
.s-60, .س-٦٠ { font-variation-settings: 'SPAC' -60; }
.s-59, .س-٥٩ { font-variation-settings: 'SPAC' -59; }
.s-58, .س-٥٨ { font-variation-settings: 'SPAC' -58; }
.s-57, .س-٥٧ { font-variation-settings: 'SPAC' -57; }
.s-56, .س-٥٦ { font-variation-settings: 'SPAC' -56; }
.s-55, .س-٥٥ { font-variation-settings: 'SPAC' -55; }
.s-54, .س-٥٤ { font-variation-settings: 'SPAC' -54; }
.s-53, .س-٥٣ { font-variation-settings: 'SPAC' -53; }
.s-52, .س-٥٢ { font-variation-settings: 'SPAC' -52; }
.s-51, .س-٥١ { font-variation-settings: 'SPAC' -51; }
.s-50, .س-٥٠ { font-variation-settings: 'SPAC' -50; }
.s-49, .س-٤٩ { font-variation-settings: 'SPAC' -49; }
.s-48, .س-٤٨ { font-variation-settings: 'SPAC' -48; }
.s-47, .س-٤٧ { font-variation-settings: 'SPAC' -47; }
.s-46, .س-٤٦ { font-variation-settings: 'SPAC' -46; }
.s-45, .س-٤٥ { font-variation-settings: 'SPAC' -45; }
.s-44, .س-٤٤ { font-variation-settings: 'SPAC' -44; }
.s-43, .س-٤٣ { font-variation-settings: 'SPAC' -43; }
.s-42, .س-٤٢ { font-variation-settings: 'SPAC' -42; }
.s-41, .س-٤١ { font-variation-settings: 'SPAC' -41; }
.s-40, .س-٤٠ { font-variation-settings: 'SPAC' -40; }
.s-39, .س-٣٩ { font-variation-settings: 'SPAC' -39; }
.s-38, .س-٣٨ { font-variation-settings: 'SPAC' -38; }
.s-37, .س-٣٧ { font-variation-settings: 'SPAC' -37; }
.s-36, .س-٣٦ { font-variation-settings: 'SPAC' -36; }
.s-35, .س-٣٥ { font-variation-settings: 'SPAC' -35; }
.s-34, .س-٣٤ { font-variation-settings: 'SPAC' -34; }
.s-33, .س-٣٣ { font-variation-settings: 'SPAC' -33; }
.s-32, .س-٣٢ { font-variation-settings: 'SPAC' -32; }
.s-31, .س-٣١ { font-variation-settings: 'SPAC' -31; }
.s-30, .س-٣٠ { font-variation-settings: 'SPAC' -30; }
.s-29, .س-٢٩ { font-variation-settings: 'SPAC' -29; }
.s-28, .س-٢٨ { font-variation-settings: 'SPAC' -28; }
.s-27, .س-٢٧ { font-variation-settings: 'SPAC' -27; }
.s-26, .س-٢٦ { font-variation-settings: 'SPAC' -26; }
.s-25, .س-٢٥ { font-variation-settings: 'SPAC' -25; }
.s-24, .س-٢٤ { font-variation-settings: 'SPAC' -24; }
.s-23, .س-٢٣ { font-variation-settings: 'SPAC' -23; }
.s-22, .س-٢٢ { font-variation-settings: 'SPAC' -22; }
.s-21, .س-٢١ { font-variation-settings: 'SPAC' -21; }
.s-20, .س-٢٠ { font-variation-settings: 'SPAC' -20; }
.s-19, .س-١٩ { font-variation-settings: 'SPAC' -19; }
.s-18, .س-١٨ { font-variation-settings: 'SPAC' -18; }
.s-17, .س-١٧ { font-variation-settings: 'SPAC' -17; }
.s-16, .س-١٦ { font-variation-settings: 'SPAC' -16; }
.s-15, .س-١٥ { font-variation-settings: 'SPAC' -15; }
.s-14, .س-١٤ { font-variation-settings: 'SPAC' -14; }
.s-13, .س-١٣ { font-variation-settings: 'SPAC' -13; }
.s-12, .س-١٢ { font-variation-settings: 'SPAC' -12; }
.s-11, .س-١١ { font-variation-settings: 'SPAC' -11; }
.s-10, .س-١٠ { font-variation-settings: 'SPAC' -10; }
.s-9, .س-٩ { font-variation-settings: 'SPAC' -9; }
.s-8, .س-٨ { font-variation-settings: 'SPAC' -8; }
.s-7, .س-٧ { font-variation-settings: 'SPAC' -7; }
.s-6, .س-٦ { font-variation-settings: 'SPAC' -6; }
.s-5, .س-٥ { font-variation-settings: 'SPAC' -5; }
.s-4, .س-٤ { font-variation-settings: 'SPAC' -4; }
.s-3, .س-٣ { font-variation-settings: 'SPAC' -3; }
.s-2, .س-٢ { font-variation-settings: 'SPAC' -2; }
.s-1, .س-١ { font-variation-settings: 'SPAC' -1; }
.s0, .س٠ { font-variation-settings: 'SPAC' 0; }
.s1, .س١ { font-variation-settings: 'SPAC' 1; }
.s2, .س٢ { font-variation-settings: 'SPAC' 2; }
.s3, .س٣ { font-variation-settings: 'SPAC' 3; }
.s4, .س٤ { font-variation-settings: 'SPAC' 4; }
.s5, .س٥ { font-variation-settings: 'SPAC' 5; }
.s6, .س٦ { font-variation-settings: 'SPAC' 6; }
.s7, .س٧ { font-variation-settings: 'SPAC' 7; }
.s8, .س٨ { font-variation-settings: 'SPAC' 8; }
.s9, .س٩ { font-variation-settings: 'SPAC' 9; }
.s10, .س١٠ { font-variation-settings: 'SPAC' 10; }
.s11, .س١١ { font-variation-settings: 'SPAC' 11; }
.s12, .س١٢ { font-variation-settings: 'SPAC' 12; }
.s13, .س١٣ { font-variation-settings: 'SPAC' 13; }
.s14, .س١٤ { font-variation-settings: 'SPAC' 14; }
.s15, .س١٥ { font-variation-settings: 'SPAC' 15; }
.s16, .س١٦ { font-variation-settings: 'SPAC' 16; }
.s17, .س١٧ { font-variation-settings: 'SPAC' 17; }
.s18, .س١٨ { font-variation-settings: 'SPAC' 18; }
.s19, .س١٩ { font-variation-settings: 'SPAC' 19; }
.s20, .س٢٠ { font-variation-settings: 'SPAC' 20; }
.s21, .س٢١ { font-variation-settings: 'SPAC' 21; }
.s22, .س٢٢ { font-variation-settings: 'SPAC' 22; }
.s23, .س٢٣ { font-variation-settings: 'SPAC' 23; }
.s24, .س٢٤ { font-variation-settings: 'SPAC' 24; }
.s25, .س٢٥ { font-variation-settings: 'SPAC' 25; }
.s26, .س٢٦ { font-variation-settings: 'SPAC' 26; }
.s27, .س٢٧ { font-variation-settings: 'SPAC' 27; }
.s28, .س٢٨ { font-variation-settings: 'SPAC' 28; }
.s29, .س٢٩ { font-variation-settings: 'SPAC' 29; }
.s30, .س٣٠ { font-variation-settings: 'SPAC' 30; }
.s31, .س٣١ { font-variation-settings: 'SPAC' 31; }
.s32, .س٣٢ { font-variation-settings: 'SPAC' 32; }
.s33, .س٣٣ { font-variation-settings: 'SPAC' 33; }
.s34, .س٣٤ { font-variation-settings: 'SPAC' 34; }
.s35, .س٣٥ { font-variation-settings: 'SPAC' 35; }
.s36, .س٣٦ { font-variation-settings: 'SPAC' 36; }
.s37, .س٣٧ { font-variation-settings: 'SPAC' 37; }
.s38, .س٣٨ { font-variation-settings: 'SPAC' 38; }
.s39, .س٣٩ { font-variation-settings: 'SPAC' 39; }
.s40, .س٤٠ { font-variation-settings: 'SPAC' 40; }
.s41, .س٤١ { font-variation-settings: 'SPAC' 41; }
.s42, .س٤٢ { font-variation-settings: 'SPAC' 42; }
.s43, .س٤٣ { font-variation-settings: 'SPAC' 43; }
.s44, .س٤٤ { font-variation-settings: 'SPAC' 44; }
.s45, .س٤٥ { font-variation-settings: 'SPAC' 45; }
.s46, .س٤٦ { font-variation-settings: 'SPAC' 46; }
.s47, .س٤٧ { font-variation-settings: 'SPAC' 47; }
.s48, .س٤٨ { font-variation-settings: 'SPAC' 48; }
.s49, .س٤٩ { font-variation-settings: 'SPAC' 49; }
.s50, .س٥٠ { font-variation-settings: 'SPAC' 50; }
.s51, .س٥١ { font-variation-settings: 'SPAC' 51; }
.s52, .س٥٢ { font-variation-settings: 'SPAC' 52; }
.s53, .س٥٣ { font-variation-settings: 'SPAC' 53; }
.s54, .س٥٤ { font-variation-settings: 'SPAC' 54; }
.s55, .س٥٥ { font-variation-settings: 'SPAC' 55; }
.s56, .س٥٦ { font-variation-settings: 'SPAC' 56; }
.s57, .س٥٧ { font-variation-settings: 'SPAC' 57; }
.s58, .س٥٨ { font-variation-settings: 'SPAC' 58; }
.s59, .س٥٩ { font-variation-settings: 'SPAC' 59; }
.s60, .س٦٠ { font-variation-settings: 'SPAC' 60; }
.s61, .س٦١ { font-variation-settings: 'SPAC' 61; }
.s62, .س٦٢ { font-variation-settings: 'SPAC' 62; }
.s63, .س٦٣ { font-variation-settings: 'SPAC' 63; }
.s64, .س٦٤ { font-variation-settings: 'SPAC' 64; }
.s65, .س٦٥ { font-variation-settings: 'SPAC' 65; }
.s66, .س٦٦ { font-variation-settings: 'SPAC' 66; }
.s67, .س٦٧ { font-variation-settings: 'SPAC' 67; }
.s68, .س٦٨ { font-variation-settings: 'SPAC' 68; }
.s69, .س٦٩ { font-variation-settings: 'SPAC' 69; }
.s70, .س٧٠ { font-variation-settings: 'SPAC' 70; }
.s71, .س٧١ { font-variation-settings: 'SPAC' 71; }
.s72, .س٧٢ { font-variation-settings: 'SPAC' 72; }
.s73, .س٧٣ { font-variation-settings: 'SPAC' 73; }
.s74, .س٧٤ { font-variation-settings: 'SPAC' 74; }
.s75, .س٧٥ { font-variation-settings: 'SPAC' 75; }
.s76, .س٧٦ { font-variation-settings: 'SPAC' 76; }
.s77, .س٧٧ { font-variation-settings: 'SPAC' 77; }
.s78, .س٧٨ { font-variation-settings: 'SPAC' 78; }
.s79, .س٧٩ { font-variation-settings: 'SPAC' 79; }
.s80, .س٨٠ { font-variation-settings: 'SPAC' 80; }
.s81, .س٨١ { font-variation-settings: 'SPAC' 81; }
.s82, .س٨٢ { font-variation-settings: 'SPAC' 82; }
.s83, .س٨٣ { font-variation-settings: 'SPAC' 83; }
.s84, .س٨٤ { font-variation-settings: 'SPAC' 84; }
.s85, .س٨٥ { font-variation-settings: 'SPAC' 85; }
.s86, .س٨٦ { font-variation-settings: 'SPAC' 86; }
.s87, .س٨٧ { font-variation-settings: 'SPAC' 87; }
.s88, .س٨٨ { font-variation-settings: 'SPAC' 88; }
.s89, .س٨٩ { font-variation-settings: 'SPAC' 89; }
.s90, .س٩٠ { font-variation-settings: 'SPAC' 90; }
.s91, .س٩١ { font-variation-settings: 'SPAC' 91; }
.s92, .س٩٢ { font-variation-settings: 'SPAC' 92; }
.s93, .س٩٣ { font-variation-settings: 'SPAC' 93; }
.s94, .س٩٤ { font-variation-settings: 'SPAC' 94; }
.s95, .س٩٥ { font-variation-settings: 'SPAC' 95; }
.s96, .س٩٦ { font-variation-settings: 'SPAC' 96; }
.s97, .س٩٧ { font-variation-settings: 'SPAC' 97; }
.s98, .س٩٨ { font-variation-settings: 'SPAC' 98; }
.s99, .س٩٩ { font-variation-settings: 'SPAC' 99; }
.s100, .س١٠٠ { font-variation-settings: 'SPAC' 100; }
.s101, .س١٠١ { font-variation-settings: 'SPAC' 101; }
.s102, .س١٠٢ { font-variation-settings: 'SPAC' 102; }
.s103, .س١٠٣ { font-variation-settings: 'SPAC' 103; }
.s104, .س١٠٤ { font-variation-settings: 'SPAC' 104; }
.s105, .س١٠٥ { font-variation-settings: 'SPAC' 105; }
.s106, .س١٠٦ { font-variation-settings: 'SPAC' 106; }
.s107, .س١٠٧ { font-variation-settings: 'SPAC' 107; }
.s108, .س١٠٨ { font-variation-settings: 'SPAC' 108; }
.s109, .س١٠٩ { font-variation-settings: 'SPAC' 109; }
.s110, .س١١٠ { font-variation-settings: 'SPAC' 110; }
.s111, .س١١١ { font-variation-settings: 'SPAC' 111; }
.s112, .س١١٢ { font-variation-settings: 'SPAC' 112; }
.s113, .س١١٣ { font-variation-settings: 'SPAC' 113; }
.s114, .س١١٤ { font-variation-settings: 'SPAC' 114; }
.s115, .س١١٥ { font-variation-settings: 'SPAC' 115; }
.s116, .س١١٦ { font-variation-settings: 'SPAC' 116; }
.s117, .س١١٧ { font-variation-settings: 'SPAC' 117; }
.s118, .س١١٨ { font-variation-settings: 'SPAC' 118; }
.s119, .س١١٩ { font-variation-settings: 'SPAC' 119; }
.s120, .س١٢٠ { font-variation-settings: 'SPAC' 120; }
.s121, .س١٢١ { font-variation-settings: 'SPAC' 121; }
.s122, .س١٢٢ { font-variation-settings: 'SPAC' 122; }
.s123, .س١٢٣ { font-variation-settings: 'SPAC' 123; }
.s124, .س١٢٤ { font-variation-settings: 'SPAC' 124; }
.s125, .س١٢٥ { font-variation-settings: 'SPAC' 125; }
