(
.notdef,
space,
"alef-ar",
"alef-ar.lam",
"alef-ar.fina",
"alef-ar.fina.kashida",
"alef-ar.fina.lam",
"alef-ar.fina.lam.kashida",
"alef-ar.fina.short",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.semi",
"behDotless-ar.medi.med",
"behDotless-ar.medi.high",
"behDotless-ar.medi.round",
"behDotless-ar.init",
"behDotless-ar.init.hah",
"behDotless-ar.init.med",
"behDotless-ar.init.high",
"hah-ar",
"hah-ar.fina",
"hah-ar.fina.alt",
"hah-ar.medi",
"hah-ar.medi.alt",
"hah-ar.medi.hah",
"hah-ar.medi.hah.alt",
"hah-ar.init",
"hah-ar.init.hah",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.fina.low",
"seen-ar.medi",
"seen-ar.medi.low",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.medi.hah1",
"tah-ar.medi.hah2",
"tah-ar.init",
"tah-ar.init.hah1",
"tah-ar.init.hah2",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ain-ar.init.hah",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"fehDotless-ar.init.hah",
"fehDotless-ar.init.yeh",
"qafDotless-ar",
"qafDotless-ar.fina",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.medi.alt",
"kaf-ar.init",
"kaf-ar.init.alt",
"lam-ar",
"lam-ar.short",
"lam-ar.fina",
"lam-ar.fina.short",
"lam-ar.medi",
"lam-ar.medi.hah1",
"lam-ar.medi.hah1.round",
"lam-ar.medi.hah2",
"lam-ar.medi.hah2.round",
"lam-ar.medi.round",
"lam-ar.medi.round.short",
"lam-ar.medi.short",
"lam-ar.init",
"lam-ar.init.hah1",
"lam-ar.init.hah1.alt",
"lam-ar.init.hah2",
"lam-ar.init.hah2.alt",
"lam-ar.init.short",
"meem-ar",
"meem-ar.fina",
"meem-ar.fina.round",
"meem-ar.medi",
"meem-ar.medi.round",
"meem-ar.medi.round2",
"meem-ar.medi.round3",
"meem-ar.init",
"meem-ar.init.round",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.medi.round",
"heh-ar.init",
"heh-ar.init.round",
"waw-ar",
"waw-ar.fina",
"waw-ar.fina.round",
"alefMaksura-ar",
"alefMaksura-ar.salt",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.salt",
"alefMaksura-ar.fina.wide",
"alefMaksura-ar.fina.wide.salt",
"alefMaksura-ar.fina.tooth",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarree-ar.fina.baseline",
"kashida-ar",
"lam_lam_heh-ar",
"lam_alef-ar",
"lam_alef-ar.fina",
"fehDotless_alef-ar",
"fehDotless_alef-ar.lam",
"behDotless_alefMaksura-ar.fina",
"seen_alefMaksura-ar",
"seen_alefMaksura-ar.fina",
"lam_alefMaksura-ar.fina",
"lam_alefMaksura-ar.fina.short",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
thinspace,
hairspace,
zerowidthspace,
period,
"threedots-ar",
"sajdah-ar",
"endofayah-ar",
"endofayah-ar.05",
"endofayah-ar.10",
dottedCircle,
space.mark,
"dotabove-ar",
"dotabove-ar.beh",
"dotabove-ar.reh",
"dotbelow-ar",
"twodotsverticalabove-ar",
"twodotsverticalabove-ar.beh",
"twodotsverticalabove-ar.vert",
"twodotsverticalabove-ar.vert.beh",
"twodotsverticalbelow-ar",
"threedotsupabove-ar",
"threedotsupabove-ar.beh",
"threedotsupabove-ar.vert",
"threedotsupabove-ar.vert.beh",
"threedotsdownbelow-ar",
"threedotshorizontalabove-ar",
"threedotshorizontalabove-ar.1",
"threedotshorizontalabove-ar.2",
"threedotshorizontalabove-ar.3",
"threedotshorizontalabove-ar.4",
"threedotshorizontalabove-ar.5",
"hamza-ar",
"hamza-ar.alt",
"hamza_fatha-ar",
"hamza_fathatan-ar",
"hamza_kasra-ar",
"hamza_damma-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"madda-ar",
"fatha-ar",
"fathatan-ar",
"fathatan-ar.alt",
"kasra-ar",
"kasratan-ar",
"kasratan-ar.alt",
"damma-ar",
"dammatan-ar",
"shadda-ar",
"sukun-ar",
"alefabove-ar",
"alefbelow-ar",
"gafsarkashabove-ar",
ayah.005,
ayah.010,
ayah.020,
ayah.030,
ayah.040,
ayah.050,
ayah.060,
ayah.070,
ayah.080,
ayah.090,
ayah.100,
ayah.110,
ayah.120,
ayah.130,
ayah.140,
ayah.150,
ayah.160,
ayah.170,
ayah.180,
ayah.190,
ayah.200,
ayah.210,
ayah.220,
ayah.230,
ayah.240,
ayah.250,
ayah.260,
ayah.270,
ayah.280,
dummy.mark,
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"beh-ar",
"teh-ar",
"theh-ar",
"peh-ar",
"jeem-ar",
"khah-ar",
"tcheh-ar",
"thal-ar",
"zain-ar",
"jeh-ar",
"sheen-ar",
"dad-ar",
"zah-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehAfrican-ar",
"qaf-ar",
"qafAfrican-ar",
"keheh-ar",
"gaf-ar",
"noon-ar",
"noonAfrican-ar",
"tehMarbuta-ar",
"wawHamzaabove-ar",
"yeh-ar",
"yehFarsi-ar",
"yehHamzaabove-ar",
"behDotless-ar.medi.l1",
"hah-ar.medi.l1",
"seen-ar.medi.l1",
"sad-ar.medi.l1",
"ain-ar.medi.l1",
"fehDotless-ar.medi.l1",
"kaf-ar.medi.l1",
"meem-ar.medi.l1",
"heh-ar.medi.l1",
"kashida-ar.l1",
"behDotless-ar.medi.l2",
"hah-ar.medi.l2",
"seen-ar.medi.l2",
"sad-ar.medi.l2",
"ain-ar.medi.l2",
"fehDotless-ar.medi.l2",
"kaf-ar.medi.l2",
"meem-ar.medi.l2",
"heh-ar.medi.l2",
"kashida-ar.l2",
_ayah.005,
_ayah.005.1,
_ayah.010,
_ayah.010.1,
_ayah.030,
_ayah.030.1,
_ayah.040,
_ayah.040.1,
_ayah.050,
_ayah.050.1,
_ayah.060,
_ayah.060.1,
_ayah.070,
_ayah.070.1,
_ayah.080,
_ayah.080.1,
_ayah.090,
_ayah.090.1,
_ayah.100,
_ayah.100.1,
_ayah.200,
_ayah.200.1,
_ayah.alef,
_ayah.alef.1,
_ayah.decoration0,
_ayah.decoration0.1,
_ayah.decoration1,
_ayah.decoration1.1,
_ayah.noon,
_ayah.noon.1,
_ayah.reh,
_ayah.reh.1,
_ayah.ring0,
_ayah.ring1,
_ayah.sajdah,
_ayah.sajdah.1,
_ayah.waw,
_ayah.waw.1,
_c.ain.dal,
_c.ain.init.beh,
_c.ain.medi.beh,
_c.ain.medi.reh,
_c.ain.meem,
_c.ain.yeh,
_c.feh.init.beh,
_c.feh.init.dal,
_c.feh.medi.beh,
_c.feh.medi.dal,
_c.feh.medi.meem,
_c.feh.medi.reh,
_c.feh.medi.waw,
_c.hah.beh,
_c.hah.dal,
_c.hah.noon,
_c.hah.reh,
_c.seen.beh,
_c.seen.meem,
_dot,
_dot.circle,
_p.dal,
_p.heh,
_p.lam,
_p.sad
)